<button type="button" routerLink="/logout" class="btn btn-primary">Logout</button><br><br><br>

<a href="#" routerLink="/event_category" class="link-primary">Event Category</a><br>
<a href="#" routerLink="/admin_user_list" class="link-secondary">Users List</a><br>
<a href="#" routerLink="/admin_organizer_list" class="link-success">Event Organizer List</a>    <br> 
<a href="#" routerLink="/feedbacklist" class="link-danger">Feedbacks</a>      <br>  
 <a href="#" routerLink="/get_all_booking" class="link-warning">Booking List</a>    <br>    
<!--<a href="#" class="link-info">Info link</a>        <br>
<a href="#" class="link-light">Light link</a>       <br>
<a href="#" class="link-dark">Dark link</a>          <br> -->