<p>otp works!</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


<!-- <div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">
        <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your
            mobile phone <b class="text-danger">+91 86684833</b></span>
        <form [formGroup]="otpForm" (ngSubmit)="submitOTP()">
            <div class="d-flex flex-row mt-5">
                <input type="text" class="form-control" autofocus="" maxlength="1">
                <input type="text" class="form-control" maxlength="1">
                <input type="text" class="form-control" maxlength="1">
                <input type="text" class="form-control" maxlength="1">
                <input type="text" class="form-control" maxlength="1">
                <input type="submit" value="submit">
            </div>
        </form>
        <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><span
                class="font-weight-bold text-danger cursor">Resend</span></div>
    </div>
</div> -->
--------------------------------------------
<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>Please enter the one time password <br> to complete your login</h6>
            <div> <span>A code has been sent to your mail</span> </div>
            <form [formGroup]="otpForm" (ngSubmit)="submitOTP()" >
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">

                <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1"  formControlName="one"/>
                <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" formControlName="two"/>
                <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1"  formControlName="three"/>
                <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" formControlName="four"/>
                <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1"  formControlName="five"/>
            </div>
            <div class="mt-4"> <input type="submit" class="btn btn-danger px-4 validate" value="Validate"> </div>
        </form>
        </div>
        <div class="card-2">
            <div class="content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span> <a
                    href="#" class="text-decoration-none ms-3">Resend(1/3)</a> </div>
        </div>
    </div>
</div>

